body{
	margin:0;
}

#some-big-div{
	background-color:black;
	
	width:100%;
	height:100vh;

/*
	width:90%;
	height:90%;
*/
}


/*jump box*/
.jump-box-scene{
    position: relative;
    width: 100%;
    height: 100%;
    background: #F9A006;
}
.jump-box-panel{
	position: absolute;

    width: 80%;
    height: 12.5%;
    bottom: 1%;
    left: 10%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-10deg) rotateX(-10deg);
    -moz-transform: rotateY(-10deg) rotateX(-10deg);
    -ms-transform: rotateY(-10deg) rotateX(-10deg);
    -o-transform: rotateY(-10deg) rotateX(-10deg);
    transform: rotateY(-10deg) rotateX(-10deg);
}
.jump-box-panel>div:not(.jump-box){
    box-sizing: border-box;
    width: 100%;
    height:100%;
    background: #272626;
    position: absolute;
    border: 1px solid #000000;
}
.jump-box-panel-right,.jump-box-panel-left{

}
.jump-box{
     border:none;
    position: absolute;
    width: 5%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.jump-box div:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.jump-box div {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    border: 1px solid #000000;
}

.jump-box-menu{
     position: absolute;
    width: 78.75%;
    height: 12.5%;
    bottom: 0;
    left: 10%;
    background: rgba(255,0,0,0.5);
}
